[submodule "oop-3sem"]
	path = oop-3sem
	url = git@github.com:danilasar/oop-3sem.git
[submodule "code/oop"]
	path = code/oop
	url = git@github.com:danilasar/oop-3sem.git
[submodule "Ассемблер/asm-referat"]
	path = Ассемблер/asm-referat
	url = git@github.com:danilasar/asm-referat.git
